body {
    margin: 0 auto;
    width: fit-content;
   
}

.container {
    margin: 0 auto;
    width: 1024px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-image: url('../img/BGI.png');
    background-size: 100%;
    border-radius: 20px 20px 0 0;
    border: 3px solid rgba(102, 102, 102, 0.644);
    align-self: center;
}

.container .container__content {
    background: rgb(150,173,101);
    background: linear-gradient(312deg, rgba(150,173,101,1) 22%, rgba(240,249,213,1) 50%, rgba(150,173,101,1) 77%);
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    margin: 0 auto;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: 5% 20% 5% 45% 20% 5%;
    grid-template-rows: 25% 15% 7.5% 15% 1fr 1fr 1fr;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);  
    position: relative;
}


.container .container__content input {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    font-size: 25px;
    border-radius: 20px;
    padding-left: 5%;
    grid-column: 2 /span 4;
    grid-row: 2;
    border-color: rgb(160, 166, 81);
}

.container .container__content input:focus{
    cursor: text;
    outline: none;
    transition: 0.4s;
    border-color: rgb(104, 86, 29);
    box-shadow: 0 0 2px 2px rgba(157, 168, 55, 0.751);
}

.container .startPage__button {
    background: rgb(81,116,3);
    background: linear-gradient(0deg, rgba(81,116,3,1) 0%, rgba(202,228,128,1) 50%, rgba(81,116,3,1) 100%);
    border-color: rgb(124, 124, 48);
    border-radius: 10px;
    border-color: rgb(124, 124, 48);
    color:rgb(255, 245, 59);
    cursor: pointer;
}

.container .container__content .start {
    grid-column: 2 / span 4;
    grid-row: 4;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    text-shadow: 1px 0 1px #000000;
    width: 100%;
    
    justify-self: center;
}

.container .container__content .MuteVolume {
    width: 100%;
    height: 100%;
    grid-row: 6;
    grid-column: 2;
    padding: 5px;
    margin: 0;
}

.container .container__content .button__rules {
    width: 100%;
    height: 100%;
    grid-row: 6;
    grid-column: 4 / span 2;
    text-shadow: 1px 0 1px #000000;
    font-size: 20px;
}

.container .rules {
    display: grid;
    grid-template-rows: 10% 10% 1fr 1fr;
    grid-template-columns: 10% 1fr 10%;
    width: inherit;
    height: inherit;
    border-radius: 20px 20px 0 0;
    position:absolute;
    background: #000000eb;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Red Hat Display', sans-serif;
    row-gap: 5%;
}

.container .rules .closeButton{
    width: 50%;
    height: 100%;
    background-image: url('../img/close-button-svgrepo-com.svg');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 1;
    grid-column: 3;
    align-self: right;
   justify-self: right;
}

.container .rules h1{
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    color: #ffb300;
    font-size: 30px;
    
}



.container .rules .rules__text{
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    color: #ffd755;
    font-size: 20px;
    display: grid;
    gap: 10px;
}

.container .rules .rules__text p {
    margin: 0;
}

.container .cards__block{
    display: none;
}

.container .cards__block{
    display: grid;
    grid-template-columns: 5% 29% 25% 28% 13%;
    grid-template-rows: 10% 82% 8%;
    width: 1024px;
    height: 500px;
    background-color: #ffc850;
    grid-row: 1 / span 4;
    grid-column: 1 /span 4;
    border-radius: 20px 20px 0 0;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(252, 246, 183);
    font-family: 'Comfortaa', cursive;
    font-family: 'Red Hat Display', sans-serif;
    row-gap: 10px;
}


.container .cards__block .score {
    grid-column: 2 ;
    grid-row: 1;
    align-self: self-end;
    justify-self: left;
    margin: 0;
}

.container .cards__block .level {
    grid-column: 3 ;
    grid-row: 1;
    margin: 0;
    align-self: self-end;
    justify-self: center;
}

.container .cards__block .time {
    grid-column: 4 ;
    grid-row: 1;
    align-self: self-end;
    justify-self: right;
    margin: 0;
}

.container .cards__block .MuteVolumeLastPage {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0;
    grid-column: 5;
    grid-row: 2;
    align-self: self-start;
}

.container .cards__block .screen {
    grid-row: 2;
    grid-column: 2 / span 3;
    background-image: url('../img/jungle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.751);
}

.container .cards__block .screen .fruit{
    position: absolute;
    top: 0;
    left: 30px;
    z-index: -1;
}

.container .cards__block .screen .fruit2{
    position: absolute;
    top: 0;
    left: 30px;
    z-index: -1;
}


.container .cards__block .screen .gorilla{
    position: absolute;
    bottom: 0;
    left: 0;
}

.container .gameOver {
    width: 1024px;
    height: 500px;
    border-radius: 20px 20px 0 0;
    background-color: #000000c2;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 80px 50px 50px 1fr 1fr 1fr;
    grid-template-columns: 1fr 700px 1fr;
    align-items: center;
    justify-items: center;
    font-family: 'Comfortaa', cursive;
    font-family: 'Red Hat Display', sans-serif;
}

.container .gameOver .gameOver__text{
    grid-row: 2;
    grid-column: 2;
    color: #ffb300;
    font-size: 70px;
    margin: 0;
    /* text-shadow: 3px 2px 3px  #FDE935; */
   
}

.container .gameOver .gameOver__score{
    grid-row: 3;
    grid-column: 2;
    color: #ffd755;
    font-size: 40px;
    margin: 0;
}

.container .gameOver .gameOver__userPosition{
    grid-row: 4;
    grid-column: 2;
    color: #ffd755;
    font-size: 40px;
    margin: 0;
}

.container .gameOver .start {
    grid-column: 2;
    grid-row: 5;
    border-radius: 20px;
    font-size: 30px;
    background: rgb(81,116,3);
    background: linear-gradient(0deg, #ffb300 0%, #ffd755 50%, #ffb300 100%);
    font-family: 'Comfortaa', cursive;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    color:rgb(255, 247, 157);
    text-shadow: 1px 0 1px #000000;
    border-color: rgb(72, 72, 29);
    width: 300px;
    padding-left: 20px;
    justify-self: center;
    cursor: pointer;
}

.container .gameOver .exit {
    grid-column: 2;
    grid-row: 6;
    border-radius: 20px;
    font-size: 30px;
    background: rgb(81,116,3);
    background: linear-gradient(0deg, #ffb300 0%, #ffd755 50%, #ffb300 100%);
    font-family: 'Comfortaa', cursive;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    color:rgb(255, 247, 157);
    text-shadow: 1px 0 1px #000000;
    border-color: rgb(72, 72, 29);
    width: 300px;
    padding-left: 20px;
    justify-self: center;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 55px;
    background-color: #454545;
    border-radius: 0 0 20px 20px;
   
}

footer .logo__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer .logo {
    background-image: url('https://rs.school/images/rs_school_js.svg');
    background-repeat: no-repeat;
    width: 100px;
    height: 40px; 
}

footer .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.git {
    list-style-type: none;
    padding: 0;
}

.git__logo {
    
    background-repeat: no-repeat;
    padding: 0;
    padding-left: 25px;
}

.git__logo a {
    color:aliceblue;
    text-decoration: none;
}

footer p {
    height: fit-content;
    margin: 0;
    color:aliceblue;
}


@media (min-width: 768px) and (max-width: 1024px){

    .container {
        width: 768px;
        height: 375px;
    }

    .container .container__content {
        width: 250px;
        height: 250px;
    }

    .container .cards__block {
        width: 768px;
        height: 375px;
    }

    .container .gameOver {
        width: 768px;
        height: 375px;
    }
}




